In [2]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')    

plt.rcParams['axes.unicode_minus'] = False

In [30]:
mix_food_origin = pd.read_excel('../data/mix_food_rev2.xlsx')

In [31]:
mix_food_origin.head()

,foodClass,foodName,foodAmount,foodGroup1,foodGroup2,foodGroup3,foodGroup4,foodGroup5,foodGroup6,totalExchange,...,prot,fiber,kcal_calculate,error_kcal,exchange2kcal_low,exchange2kcal_mid,exchange2kcal_high,error_exchange_low2,error_exchange_mid3,error_exchange_high4
0,밥류,김밥,191,0.9,0.8,2.0,0.0,0.0,1.6,5.3,...,10.7,3.3,442.8,0.49,242.0,262.0,282.0,45.62,41.12,36.63
1,밥류,김치볶음밥,201,0.8,0.4,2.2,0.0,0.0,1.1,4.5,...,10.3,3.8,381.2,0.73,193.5,203.5,213.5,49.61,47.01,44.40
2,밥류,누룽지,50,0.6,0.0,0.0,0.0,0.0,0.0,0.6,...,2.9,0.5,169.7,3.58,60.0,60.0,60.0,65.91,65.91,65.91
3,밥류,닭죽,111,0.6,0.8,1.0,0.0,0.0,0.0,2.4,...,15.0,1.1,231.9,3.38,120.0,140.0,160.0,50.00,41.67,33.33
4,밥류,현미밥,90,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,6.8,3.0,321.9,-2.19,100.0,100.0,100.0,68.25,68.25,68.25

In [32]:
mix_food_origin.shape

(216, 23)

In [33]:
mix_food_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 23 columns):
foodClass               216 non-null object
foodName                216 non-null object
foodAmount              216 non-null int64
foodGroup1              216 non-null float64
foodGroup2              216 non-null float64
foodGroup3              216 non-null float64
foodGroup4              216 non-null float64
foodGroup5              216 non-null float64
foodGroup6              216 non-null float64
totalExchange           216 non-null float64
kcal                    216 non-null int64
carbo                   216 non-null float64
fatt                    216 non-null float64
prot                    216 non-null float64
fiber                   216 non-null float64
kcal_calculate          216 non-null float64
error_kcal              216 non-null float64
exchange2kcal_low       216 non-null float64
exchange2kcal_mid       216 non-null float64
exchange2kcal_high      216 non-null float64
error_exchange_low2     216 non-null float64
error_exchange_mid3     216 non-null float64
error_exchange_high4    216 non-null float64
dtypes: float64(19), int64(2), object(2)
memory usage: 38.9+ KB

In [34]:
mix_food_origin.columns

Index(['foodClass', 'foodName', 'foodAmount', 'foodGroup1', 'foodGroup2',
       'foodGroup3', 'foodGroup4', 'foodGroup5', 'foodGroup6', 'totalExchange',
       'kcal', 'carbo', 'fatt', 'prot', 'fiber', 'kcal_calculate',
       'error_kcal', 'exchange2kcal_low', 'exchange2kcal_mid',
       'exchange2kcal_high', 'error_exchange_low2', 'error_exchange_mid3',
       'error_exchange_high4'],
      dtype='object')

In [35]:
from sqlalchemy import create_engine
import pymysql

In [36]:
engine = create_engine("mysql+pymysql://itsmejefffrey:"+"kangwon2018"+"@183.111.138.191:3306/itsmejefffrey?charset=utf8", encoding='utf-8')

In [37]:
con = engine.connect()
mix_food_origin.to_sql(name='db_food_mix_v1', con=engine, if_exists='append', index=False)
con.close()