In [56]:
from sqlalchemy import create_engine
import pymysql

In [57]:
import pandas as pd

In [58]:
import numpy as np

In [59]:
engine = create_engine("mysql+pymysql://itsmejefffrey:"+"kangwon2018"+"@183.111.138.191:3306/itsmejefffrey?charset=utf8", encoding='utf-8')

In [60]:
conn = engine.connect()

In [61]:
conn

In [8]:
conn.close()

In [9]:
import platform

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')    

plt.rcParams['axes.unicode_minus'] = False

In [16]:
food_origin = pd.read_excel('./data/OPENDATA_FOOD_2.xls')

In [18]:
food_origin.head()

,번호,식품군,식품이미지,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,1,밥류,NaN,문어초밥(서울),250,362.5,70.11,18.51,0.92,9.24,1176.03,70.60,0.36,0.00
1,2,밥류,NaN,콩나물해장국(강원도),700,280.0,11.56,34.71,10.35,0.00,1731.65,127.46,1.71,0.04
2,3,밥류,NaN,콩나물해장국(경기도),700,231.0,10.18,19.94,11.97,0.00,1772.60,100.26,0.71,0.02
3,4,밥류,NaN,콩나물해장국(경상도),700,238.0,7.66,18.93,14.70,0.00,1768.23,155.74,1.55,0.04
4,5,밥류,NaN,콩나물해장국(서울),700,189.0,13.52,23.73,4.58,0.00,1885.58,132.21,1.55,0.03

In [20]:
seoul_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(서울\)|(\w|\w \w).+\(\w\)\(서울\)')]
gyeong_gi_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(경기도\)|(\w|\w \w).+\(\w\)\(경기도\)')]
kangwon_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(강원도\)|(\w|\w \w).+\(\w\)\(강원도\)')]
gyeongsang_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(경상도\)|(\w|\w \w).+\(\w\)\(경상도\)')]
jeolla_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(전라도\)|(\w|\w \w).+\(\w\)\(전라도\)')]
chungcheong_food = food_origin[food_origin['식품이름'].str.contains('(\w|\w \w).+\(충청도\)|(\w|\w \w).+\(\w\)\(충청도\)')]

c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.
c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.
c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """
c:\users\2e313jcp\appdata\local\programs\python\python35\lib\site-packages\ipykernel_launcher.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [22]:
print(len(seoul_food))
print(len(gyeong_gi_food))
print(len(kangwon_food))
print(len(gyeongsang_food))
print(len(jeolla_food))
print(len(chungcheong_food))

237
237
237
237
237
237

In [23]:
food_origin = food_origin.drop(seoul_food.index)
food_origin = food_origin.drop(gyeong_gi_food.index)
food_origin = food_origin.drop(kangwon_food.index)
food_origin = food_origin.drop(gyeongsang_food.index)
food_origin = food_origin.drop(jeolla_food.index)
food_origin = food_origin.drop(chungcheong_food.index)

In [24]:
food_origin.shape

(3154, 14)

In [26]:
duplicate_phase_one = food_origin.duplicated(['식품이름'])

# 중복 리스트 인덱스를 모두 가져온다

In [27]:
index_list = []
for i in range(len(duplicate_phase_one)):
    if duplicate_phase_one.values[i] == True:
        index_list.append(i)
print(index_list)

[8, 79, 81, 84, 87, 121, 182, 314, 449, 653, 697, 727, 730, 738, 747, 748, 777, 1175, 1342, 1370, 1444, 1452, 1584, 1594, 1800, 1976, 2021, 2131, 2200, 2317, 2329, 2361, 2375, 2390, 2412, 2428, 2770, 2811, 2815, 2829, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3060, 3063, 3064, 3065, 3066, 3067, 3068, 3074, 3075, 3077, 3078, 3080, 3081, 3087, 3088, 3089, 3094, 3108, 3123, 3133, 3134, 3136]

In [28]:
food_origin.head()

,번호,식품군,식품이미지,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
7,8,밥류,NaN,소머리국밥,800,631.99,17.53,75.98,28.66,0.00,823.26,241.92,9.67,0.60
14,15,밥류,NaN,"국밥, 굴",100,105.13,13.60,6.53,2.73,0.05,251.60,79.75,0.61,0.02
15,16,밥류,NaN,김밥,200,317.68,57.57,7.26,6.48,0.50,833.29,40.49,2.75,0.06
22,23,밥류,NaN,김치김밥,250,344.97,60.67,10.93,6.51,1.86,1145.54,74.18,1.58,0.05
29,30,밥류,NaN,샐러드김밥,250,405.95,61.45,9.61,13.52,3.42,911.18,84.58,2.79,0.06

In [29]:
food_origin = food_origin.reset_index(drop=True)
food_origin.head()

,번호,식품군,식품이미지,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,8,밥류,NaN,소머리국밥,800,631.99,17.53,75.98,28.66,0.00,823.26,241.92,9.67,0.60
1,15,밥류,NaN,"국밥, 굴",100,105.13,13.60,6.53,2.73,0.05,251.60,79.75,0.61,0.02
2,16,밥류,NaN,김밥,200,317.68,57.57,7.26,6.48,0.50,833.29,40.49,2.75,0.06
3,23,밥류,NaN,김치김밥,250,344.97,60.67,10.93,6.51,1.86,1145.54,74.18,1.58,0.05
4,30,밥류,NaN,샐러드김밥,250,405.95,61.45,9.61,13.52,3.42,911.18,84.58,2.79,0.06

In [30]:
food_origin.shape

(3154, 14)

In [31]:
food_second = food_origin.drop_duplicates(['식품이름'], keep='last')
food_second.shape

(3085, 14)

In [32]:
food_second.to_excel('duplicate_delete_food_db_2.xlsx')


## 식품 이미지 컬럼을 지운다

In [33]:
del food_second['식품이미지']
food_second.shape

(3085, 13)

In [34]:
food_second.to_excel('final_food_db_2.xlsx')

In [35]:
food_one = pd.read_excel('./data/food_safe_delete_duplicated.xlsx')

In [36]:
food_one.shape

(2605, 14)

In [37]:
food_second.columns

Index(['번호', '식품군', '식품이름', '1회제공량 (g)', '열량 (kcal)', '탄수화물 (g)', '단백질 (g)',
       '지방 (g)', '당류 (g)', '나트륨 (mg)', '콜레스테롤 (mg)', '포화지방산 (g)',
       '트랜스지방산 (g)'],
      dtype='object')

In [38]:
food_one.columns

Index(['번호', '식품군', '식품이름', '1회제공량 (g)', '열량 (kcal)', '탄수화물 (g)', '단백질 (g)',
       '지방 (g)', '당류 (g)', '나트륨 (mg)', '콜레스테롤 (mg)', '포화지방산 (g)', '트랜스지방산 (g)',
       '년도'],
      dtype='object')

In [50]:
food_third = pd.read_excel('./data/OPENDATA_FOOD_3.xls')

In [51]:
food_third.shape

(25070, 13)

In [52]:
food_third_delete = food_third.drop_duplicates(['식품이름'], keep='last')

In [53]:
food_third_delete.shape

(12254, 13)

In [54]:
food_third_delete.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
3,4,과자류,감자깡,30,150.00,22.00,2.00,6.00,0.26,150.00,0,1.80,0.00
5,6,과자류,후라이드치킨 닭다리,30,84.79,10.12,0.89,4.46,0.33,80.33,0,1.25,0.08
7,8,과자류,핫숯불바베큐 닭다리,30,83.31,10.12,1.19,4.17,0.33,92.23,0,1.13,0.08
9,10,과자류,"라면,봉지면, 너구리, 순한맛(㈜농심)",120,616.32,87.41,12.38,21.46,4.80,2854.08,NaN,NaN,NaN
11,12,과자류,"라면,봉지면, 너구리, 얼큰한맛(㈜농심)",120,616.32,87.12,12.96,21.31,4.80,2682.72,NaN,NaN,NaN

In [55]:
food_third_delete = food_third_delete.reset_index(drop=True)
food_third_delete.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,4,과자류,감자깡,30,150.00,22.00,2.00,6.00,0.26,150.00,0,1.80,0.00
1,6,과자류,후라이드치킨 닭다리,30,84.79,10.12,0.89,4.46,0.33,80.33,0,1.25,0.08
2,8,과자류,핫숯불바베큐 닭다리,30,83.31,10.12,1.19,4.17,0.33,92.23,0,1.13,0.08
3,10,과자류,"라면,봉지면, 너구리, 순한맛(㈜농심)",120,616.32,87.41,12.38,21.46,4.80,2854.08,NaN,NaN,NaN
4,12,과자류,"라면,봉지면, 너구리, 얼큰한맛(㈜농심)",120,616.32,87.12,12.96,21.31,4.80,2682.72,NaN,NaN,NaN

In [72]:
food_third_delete = food_third_delete.fillna(0)

In [73]:
food_third_delete.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,4,과자류,감자깡,30,150.00,22.00,2.00,6.00,0.26,150.00,0.0,1.80,0.00
1,6,과자류,후라이드치킨 닭다리,30,84.79,10.12,0.89,4.46,0.33,80.33,0.0,1.25,0.08
2,8,과자류,핫숯불바베큐 닭다리,30,83.31,10.12,1.19,4.17,0.33,92.23,0.0,1.13,0.08
3,10,과자류,"라면,봉지면, 너구리, 순한맛(㈜농심)",120,616.32,87.41,12.38,21.46,4.80,2854.08,0.0,0.00,0.00
4,12,과자류,"라면,봉지면, 너구리, 얼큰한맛(㈜농심)",120,616.32,87.12,12.96,21.31,4.80,2682.72,0.0,0.00,0.00

In [66]:
food_third_delete['콜레스테롤 (mg)'].astype(float)

0          0.00
1          0.00
2          0.00
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12         0.00
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24         0.00
25         0.00
26         0.00
27         0.00
28         0.00
29         0.00
          ...
12224     84.44
12225     76.67
12226     96.00
12227     96.00
12228     71.21
12229    104.00
12230    104.00
12231     80.00
12232     90.00
12233     90.00
12234    106.00
12235    106.00
12236     83.33
12237     88.89
12238    104.00
12239     79.00
12240     10.00
12241     12.86
12242     15.00
12243     60.61
12244     10.00
12245      9.99
12246      3.00
12247      5.01
12248      3.00
12249     11.88
12250     30.30
12251     14.42
12252     15.58
12253     12.15
Name: 콜레스테롤 (mg), Length: 12254, dtype: float64

In [74]:
food_third_delete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12254 entries, 0 to 12253
Data columns (total 13 columns):
번호            12254 non-null int64
식품군           12254 non-null object
식품이름          12254 non-null object
1회제공량 (g)     12254 non-null int64
열량 (kcal)     12254 non-null float64
탄수화물 (g)      12254 non-null float64
단백질 (g)       12254 non-null float64
지방 (g)        12254 non-null float64
당류 (g)        12254 non-null float64
나트륨 (mg)      12254 non-null float64
콜레스테롤 (mg)    12254 non-null float64
포화지방산 (g)     12254 non-null float64
트랜스지방산 (g)    12254 non-null float64
dtypes: float64(9), int64(2), object(2)
memory usage: 1.2+ MB

## 가공식품 데이터베이스 넣기

In [75]:
food_third_delete.to_sql(name='db_food_03_v2', con=engine, if_exists='append',  index=False )

## 식품 데이터베이스 넣기

In [76]:
food_one.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g),년도
0,1,곡류 및 그 제품,"고량미,고량미, 알곡",100,349.0,67.80,10.10,3.70,0.0,NaN,0.0,0.0,0,2001
1,2,곡류 및 그 제품,"과자,스넥과자, 유아용과자",30,129.9,20.13,3.54,3.96,0.0,57.6,0.0,0.0,0,2006
2,4,곡류 및 그 제품,"귀리 가공(기타), 오트밀",100,348.0,64.90,13.20,8.20,NaN,4.0,NaN,NaN,0,2017
3,6,곡류 및 그 제품,"귀리(겉귀리), 도정곡, 생것",100,332.0,73.50,11.40,3.70,NaN,2.0,NaN,NaN,0,2017
4,8,곡류 및 그 제품,"귀리(쌀귀리), 도정곡, 생것",100,334.0,70.40,14.30,3.80,NaN,3.0,NaN,NaN,0,2017

In [77]:
food_one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2605 entries, 0 to 2604
Data columns (total 14 columns):
번호            2605 non-null int64
식품군           2605 non-null object
식품이름          2605 non-null object
1회제공량 (g)     2605 non-null int64
열량 (kcal)     2605 non-null float64
탄수화물 (g)      2579 non-null float64
단백질 (g)       2604 non-null float64
지방 (g)        2604 non-null float64
당류 (g)        1050 non-null float64
나트륨 (mg)      2065 non-null float64
콜레스테롤 (mg)    1272 non-null float64
포화지방산 (g)     1231 non-null float64
트랜스지방산 (g)    2605 non-null int64
년도            2605 non-null int64
dtypes: float64(8), int64(4), object(2)
memory usage: 305.3+ KB

In [78]:
food_one = food_one.fillna(0)

In [88]:
del food_one['년도']

In [89]:
food_one.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,1,곡류 및 그 제품,"고량미,고량미, 알곡",100,349.0,67.80,10.10,3.70,0.0,0.0,0.0,0.0,0
1,2,곡류 및 그 제품,"과자,스넥과자, 유아용과자",30,129.9,20.13,3.54,3.96,0.0,57.6,0.0,0.0,0
2,4,곡류 및 그 제품,"귀리 가공(기타), 오트밀",100,348.0,64.90,13.20,8.20,0.0,4.0,0.0,0.0,0
3,6,곡류 및 그 제품,"귀리(겉귀리), 도정곡, 생것",100,332.0,73.50,11.40,3.70,0.0,2.0,0.0,0.0,0
4,8,곡류 및 그 제품,"귀리(쌀귀리), 도정곡, 생것",100,334.0,70.40,14.30,3.80,0.0,3.0,0.0,0.0,0

In [80]:
food_one.to_sql(name='db_food_01_v2', con=engine, if_exists='append',  index=False )

### 음식 데이터베이스 넣기

In [81]:
food_second.shape

(3085, 13)

In [82]:
food_second = food_second.fillna(0)

In [83]:
food_second.head()

,번호,식품군,식품이름,1회제공량 (g),열량 (kcal),탄수화물 (g),단백질 (g),지방 (g),당류 (g),나트륨 (mg),콜레스테롤 (mg),포화지방산 (g),트랜스지방산 (g)
0,8,밥류,소머리국밥,800,631.99,17.53,75.98,28.66,0.00,823.26,241.92,9.67,0.60
1,15,밥류,"국밥, 굴",100,105.13,13.60,6.53,2.73,0.05,251.60,79.75,0.61,0.02
2,16,밥류,김밥,200,317.68,57.57,7.26,6.48,0.50,833.29,40.49,2.75,0.06
3,23,밥류,김치김밥,250,344.97,60.67,10.93,6.51,1.86,1145.54,74.18,1.58,0.05
4,30,밥류,샐러드김밥,250,405.95,61.45,9.61,13.52,3.42,911.18,84.58,2.79,0.06

In [84]:
food_second.to_sql(name='db_food_02_v2', con=engine, if_exists='append',  index=False )

## 걸럼 확인

In [85]:
food_one.columns

Index(['번호', '식품군', '식품이름', '1회제공량 (g)', '열량 (kcal)', '탄수화물 (g)', '단백질 (g)',
       '지방 (g)', '당류 (g)', '나트륨 (mg)', '콜레스테롤 (mg)', '포화지방산 (g)', '트랜스지방산 (g)',
       '년도'],
      dtype='object')

In [86]:
food_second.columns

Index(['번호', '식품군', '식품이름', '1회제공량 (g)', '열량 (kcal)', '탄수화물 (g)', '단백질 (g)',
       '지방 (g)', '당류 (g)', '나트륨 (mg)', '콜레스테롤 (mg)', '포화지방산 (g)',
       '트랜스지방산 (g)'],
      dtype='object')

In [87]:
food_third_delete.columns

Index(['번호', '식품군', '식품이름', '1회제공량 (g)', '열량 (kcal)', '탄수화물 (g)', '단백질 (g)',
       '지방 (g)', '당류 (g)', '나트륨 (mg)', '콜레스테롤 (mg)', '포화지방산 (g)',
       '트랜스지방산 (g)'],
      dtype='object')